body {
    font-family: 'Inter', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}
/* Logo styling */
.logo {
    max-width: 350px;
    height: auto;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Login form styling */
.login-form {
    background: rgb(0 0 0 / 43%);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #F8994F;
    box-shadow: 0 4px 10px #F8994F;
    color:#fff;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .logo-container {
        position: static;
        text-align: center;
        margin-top: 20px;
    }

    .logo {
        max-width: 320px;
    }

    .container-fluid {
        justify-content: center !important;
    }

    .login-form {
        margin: 0 auto;
    }
}
.form-control {
    background-color : #010211 !important;
    color: #f8984f30 !important;
    border: 0.1px solid #F8994F;
}
.form-control:focus {
    color: #f8984f30 !important;
    border: 1px solid #F8994F;
    box-shadow: 1px 1px 1px 1px #F8994F;
}
.form-control::placeholder {
    color: #fff !important;
    opacity: 1 !important;
}
.form-control::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #fff !important;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #fff !important;
    opacity: 1;
}

.form-control:-moz-placeholder {
    color: #fff !important;
    opacity: 1;
}